[neopixel leds]
pin: PB0
chain_count: 29
color_order: GRB

# ALL the LEDs

# Startig state
[led_effect rainbow]
leds:
  neopixel:leds
autostart: true
frame_rate: 24
layers:
  gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# Bed
[led_effect bed_heating]
leds:
  neopixel:leds (1-27)
autostart: false
frame_rate: 24
heater: heater_bed
layers:
  heater 1 60 add (0,0,1),(1,0.4,0)
  static 0 0 top (1,0,0)  # Emphasize red at higher temperatures
  comet 1 5 top (0,0,1),(1,0.4,0),(1,0,0)

[led_effect bed_calibrating_z]
leds:
  neopixel:leds (1-26)
autostart: false
frame_rate: 24
layers:
  breathing  3 1 top (0.0, 0.0, 0.35)

# Logo
[led_effect logo]
leds:
  neopixel:leds (27)
autostart: false
frame_rate: 24
layers:
  static 0 0 top (0.8157, 0.0, 1.0)

# Nozzle
[led_effect nozzle]
leds:
  neopixel:leds (28,29)
autostart: false
frame_rate: 24
layers:
  static 0 0 top (1.0,  1.0, 1.0)

[led_effect nozzle_bed_heating]
autostart: false
frame_rate: 24
leds:
  neopixel:leds (28,29)
layers:
  breathing  3 1 top (1.0, 0.18, 0.0, 0.0)

# Main lights
[led_effect main_full]
leds:
  neopixel:leds (1-26)
autostart: false
frame_rate: 24
layers:
  static 0 0 top (1.0, 1.0, 1.0)

# Macros
[gcode_macro leds_status_ready]
gcode:
  RESPOND MSG="Setting LEDs for status ready"
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=rainbow

[gcode_macro leds_logo]
gcode:
  SET_LED_EFFECT EFFECT=logo

[gcode_macro leds_nozzle]
gcode:
  SET_LED_EFFECT EFFECT=nozzle

[gcode_macro leds_printing]
gcode:
  RESPOND MSG="Setting LEDs for printing"
  STOP_LED_EFFECTS
  leds_logo
  SET_LED_EFFECT EFFECT=nozzle
  SET_LED_EFFECT EFFECT=main_full

[gcode_macro leds_bed_heating]
gcode:
  RESPOND MSG="Setting LEDs for bed heating"
  STOP_LED_EFFECTS
  leds_logo
  SET_LED_EFFECT EFFECT=bed_heating
  SET_LED_EFFECT EFFECT=nozzle_bed_heating

[gcode_macro leds_calibrate_z]
gcode:
  RESPOND MSG="Setting LEDs for bed Z tilt calibration"
  STOP_LED_EFFECTS
  leds_logo
  SET_LED_EFFECT EFFECT=nozzle
  SET_LED_EFFECT EFFECT=bed_calibrating_z
  
# [gcode_macro M109] extruder temperature

# [led_effect bed_printing]
# leds:
#   neopixel: lights (1-27)
# autostart: false
# frame_rate: 24
# layers:
#     static 0 0 top (1.0,  1.0, 1.0)

# [led_effect bed_ready]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:lights (1-27)
# layers:
#         breathing  3 1 top (0.0, 1.0, 0.0)

# # Toolhead
# [led_effect tool_logo]
# leds:
#   neopixel: lights (30)
# autostart: false
# frame_rate: 24
# layers:
#   static 0 0 top (0.8157, 0.0, 1.0)
  
# [led_effect tool_printing]
# leds:
#     neopixel:lights (29,30)
# autostart:                          false
# frame_rate:                         24
# layers:
#     static 0 0 top (1.0,  1.0, 1.0)

# [led_effect tool_ready]
# autostart:              false
# frame_rate:             24
# leds:
#     neopixel:lights (29,30)
# layers:
#         breathing  3 1 top (0.0, 1.0, 0.0)


# [led_effect critical_error]
# leds:
#     neopixel: lights
# layers:
#     strobe         1  1.5   add        (1.0,  1.0, 1.0)
#     breathing      2  0     difference (0.95, 0.0, 0.0)
#     static         1  0     top        (1.0,  0.0, 0.0)
# autostart:                             false
# frame_rate:                            24
# # run_on_error:  

# [led_effect comet]
# leds:
#     neopixel: lights
# autostart:                          false
# frame_rate:                         24
# layers:
#     comet 2 1 top (0.0,0.0,0.0),(0.0,0.0,1.0)
 
# # Macros
# [gcode_macro printing_on]
# gcode:
#   STOP_LED_EFFECTS
#   SET_LED_EFFECT EFFECT=tool_logo
#   SET_LED_EFFECT EFFECT=bed_printing
#   SET_LED_EFFECT EFFECT=tool_printing

# [gcode_macro status_off]
# gcode:
#   STOP_LED_EFFECTS

# [gcode_macro status_ready]
# gcode:
#   STOP_LED_EFFECTS
#   SET_LED_EFFECT EFFECT=rainbow

# [gcode_macro status_part_ready]
# gcode:
#   STOP_LED_EFFECTS
#   SET_LED_EFFECT EFFECT=bed_ready
#   SET_LED_EFFECT EFFECT=tool_ready

